body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #E4E4E4;
}
a{
    text-decoration: none;
}
a:visited{
    color: #2770e5;
}
a:hover{
    color: #282828;
}
#like{
    color: #282828;
}
#like:hover{
    color: red;
}
#delete{
    color: #151515;
    font-size: 24px;
}
#delete:hover{
    color: #F44A4A;
}
#edit{
    font-size: 24px;
    color: #151515;
    margin-right: 10px;
}
#edit:hover{
    color: #4286f4;
}
#check{
    font-size: 18px;
    color: #4286f4;
}
#top{
    background-color: black;
    letter-spacing: -2px;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}
#top label{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}
main{
    display: flex;
    flex-wrap: nowrap;
}
#topics{
    flex: 1;
    margin-top: 20px;
    min-width: 610px;
    text-align: center;
}
#posts{
    flex: 1;
    text-align: center;
    min-width: 350px;
    margin-top: 20px;
}
#saved{
    flex: 1;
    margin-top: 20px;
    text-align: center;
    min-width: 500px;
}
#topics table, #posts table{
    text-align: left;
}
table th{
    background-color: #4286f4;
    color: white;
    letter-spacing: 2px;
}
#userLogo{
    color: black;
    font-size: 16px;
    margin-right: 3px;
}
#filler{
    flex: 2;
}
#topics label{
    color: #797979;
}
nav{
    background-color: #404040;
    margin-top: 0;
    text-align: center;
}
nav a{
    text-decoration: none;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}
nav button{
    background-color: #404040;
    width: 150px;
    border: 1px solid #404040;
    padding: 15px 0px;
    opacity: 1;
    color: white;
    font-size: 20px;
    margin: 0;
}
nav button:hover{
    background-color: #2d2d2d;
    color: white;
    border: 1px solid white;
    border-bottom: 1px solid #2D2D2D;
    border-top: 1px solid #2d2d2d;
}
.styledButton{
    padding: 15px 30px;
    background-color: white;
    color: #2770e5;
    border: 1px solid #2770e5;
    margin-top: 20px;
    font-size: 17px;
    margin-right: 10px;
    min-width: 220px;
}
.styledButton:hover{
    background-color: #2770e5;
    color: white;
}
table{
    background-color: white;
}

